/* RPGWNN Stylesheet */

.map-column2 {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 990;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
div#map {
    border: 1px solid red;
    width: 480px;
}
div#map .row {
    border: 1px solid green;
}
div#map .row .col-2 {
    border: 1px solid blue;
    height: 90px;
}

/* ==== Status Messages ========================= */
.status_message {
    margin-bottom: 10px;
    padding: 10px;
    display: block;
    float: none;
    clear: both;
    border: 1px solid #CCC;
    background-color: #EEE;
}
.success, .error {
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: 40px;
    color: #FFF;
    border: none;
    min-height: 26px;
}
.success {
    background-color: #008000;
    background-image: url('/static/images/success.png');
}
.error {
    background-color: #D90000;
    background-image: url('/static/images/error.png');
}

