[% USE Math; %]
<div class="container-fluid pt-3 pb-3">
<div class="row">

[% PROCESS "fragment/map" %]

<div class="col-md">
<p>You are located at [% character.map_x %], [% character.map_y %], [% character.map_z %].</p>
</div>

</div>
</div>
[% temp_map_foot = BLOCK %]
<script>
$(document).ready(function(){
    $("button.move").click(link_buttons);
});

function link_buttons() {
    $.ajax({
        url: "/api/action/move",
        dataType: "json",
        data: {
            x: $(this).attr("data-x"),
            y: $(this).attr("data-y")
        },
        success: function(data) {
            if (data.refresh && data.refresh.length) {
                data.refresh.forEach(element => {
                    load_data(element);
                });
            }
            // Got a successful response but without it being a successful action
            else {
                if (data.error) {
                    alert(data.error);
                }
            }
            // Reload the notifications (if any)
            load_data("notifications");
        },
    });
}

function load_data(node) {
    // map
    if (node == "map") {
        // reload the map area
        $.ajax({
            url: "/api/output/map",
            success: function(data) {
                $("#map").replaceWith(data.html);
                $("button.move").click(link_buttons);
            },
        });
    }
    // notifications
    // description
    // inventory
}
</script>
[% END; page.extra_footer_html = page.extra_footer_html _ temp_map_foot %]
