[% page.title = "About RPGCat"; -%]
<div class="container">
<div class="row text-sm-left text-md-left">

<div class="col-12 p-3">

<h1>About this game</h1>

<p>This game is based on RPGCat and if you're seeing this content, the About page hasn't been updated yet. What follows is information about the RPGCat framework and not this specific game.</p>

<h2>RPGCat</h2>

<p>RPGCat is a project to create a browser based RPG along the lines of Shartak and UrbanDead. It's written in Perl and uses the Perl modules Catalyst, Template::Toolkit and DBIx::Class (among many others) to provide a framework which can be modified and updated easily.</p>

<p>Right now there's not a lot to see but if you think you can help us, get in touch.</p>
</div>
</div>

<div class="row">
<div class="col-12 p-3">
<h2>Resources</h2>

<p>Github: <a href="https://github.com/reanimatedprojects/rpgcat">reanimatedprojects/rpgcat</a></p>

</div>
</div>
</div>
