<h2>Welcome to the main index page</h2>

<p>Access number [% counter %]</p>

<h2>Phase 1: BRPG</h2>

<p>The RPGCAT project is currently in phase 1; the creation of the game entitled "Basic Role Playing Game" (BRPG)</p>

<p>BRPG is to be the skeleton upon which all other projects are built and the feature list outline of it can be found on the project github site located <a href="https://github.com/reanimatedprojects/rpgcat/blob/master/design_notes/BRPG.1.txt">here</a> </p>

<p>In short, however, it aims to provide the following basic functionality, which will be built on in the future:</p>

<ul>
  <li>Log in + char creation</li>
  <li>Move around map</li>
  <li>Basic player interactions</li>
  <li>Basic items</li>
  <li>Basic skills</li>
  <li>Basic NPC/Quest Interaction</li>
<\ul>

<p>Once we have implemented the components of BRPG we will move onto phase 2; to be disclosed at a later date.<\p>

[% IF c.user %]
<p>User [% c.user.email %] logged in.</p>
[% END %]
